.tool{
    position: fixed;
    top: 50%;
    right: 0;
    width: 35px;
    height: 216px;
    display: none;
}

.toolbar li{
    position: relative;
    width: 35px;
    height: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    background-color: #7a6e6e;
    border-radius: 3px 0 0 3px;
    z-index: 999;
}


.toolbar li .bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.toolbar li .tip{
    position: absolute;
    top: 11px;
    display: block;
    right: 11px;
    width: 4px;
    background-color: #b61d1d;
    height: 4px;
    border-radius: 50%;
}

.toolbar li .ico{
    position: absolute;
    top: 7px;
    left: 8px;
    font-size: 20px;
}

.toolbar li .ico.da{
    font-size: 24px;
    left: 6px;
}


.toolbar li .text{
    position: absolute;
    right: -28px;
    top: 0;
    color: transparent;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-style: normal;
    width: 62px;
    z-index: 0;
    border-radius: 3px 0 0 3px;
}

.toolbar li:hover .text{
    position: absolute;
    right: 35px;
    top: 0;
    color: #fff;
    background-color:  #b61d1d;
    transition: all .5s;
}

.toolbar li:hover{
    border-radius: 0;
    background-color: #b61d1d;
}

.toolbar li:hover .bar{
    background-color: #b61d1d;
}

.goTop{
    position: fixed;
    display: none;
    right:0;
    bottom:-1px;
    width: 35px;
    height: 72px;
}

.goTop li a{
    color: black;
}

